* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    --blue: rgb(35, 8, 134);
    --lightBlue: rgb(119, 93, 196);
}

body{
    max-width: 100%;
    overflow-x: hidden;
}

h1{
    font-size: 150%;
}

p{
    font-size: 130%;
}

li{
    font-size: 115%;
}

label{
    font-size: 115%;
}

.content{
    padding: 3rem 2rem;
}

.header{
    box-shadow: 0 0 2rem #000000b4;
    height: 15vh;
}

.header__heading{
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.header__logo{
    height: 90%;
    width: 10%;
    display: flex;
    margin-left: 1.5rem;
}

.header__logo > a{
    height: 100%;
}

.header__figure{
    height: 100%;
    width: 100%;
}

.header__image{
    height: 95%;
}

.header__navbar{
    background-color: rgb(243, 243, 243);
    width: fit-content;
    height: 70%;
    padding: 1rem 3rem 1rem 1rem;
    display: flex;
    gap: 3rem;
    align-items: center;
}

.header__navigation{
    height: fit-content;
    width: fit-content;
}

.header__navigationlink{
    color: black;
    text-decoration: none;
    text-align: center;
    height: fit-content;
    width: fit-content;
}

.header__navigationlink > svg{
    height: 3rem;
}

.icon{
    height: 3rem;
    width: 3rem;
}

.icon svg{
    width: 100%;
    height: 100%;
}

.main{
    display: flex;
    gap: 4rem;
}

.sidebar{
    margin-left: -2rem;
    margin-top: -3rem;
    margin-bottom: -3rem;
    height: 100vh;
    width: 20rem;
    box-shadow: 0 0 1.5rem #000000b4;
    top: 0;
    position: sticky;
    transition: 0.3s;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
}

.filter__button{
    display: none;
}

#closeSidebar{
    display: none;
}

.sidebar__header{
    background-color: var(--blue);
    padding: 1rem 1.5rem;
}

.sidebar__header > h1{
    font-size: 150%;
    color: white;
}

.sidebar__title{
    margin-left: 1.5rem;
}

.sidebar__filters{
    margin-top: 0.5rem;
    width: 100%;
}

.sidebar__text-input-section{
    display: flex;
    width: 8rem;
    margin-left: 1.5rem;
    padding: 1rem 0;
    align-items: center;
}

.sidebar__text-input{
    padding: 0.5rem;
    font-size: 120%;
    border-radius: 30px;
    width: 100%;
}

.sidebar__list{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    gap: 0.5rem;
}

.sidebar__filter{
    margin-left: 1.5rem;
}

.sidebar__button{
    width: 10%;
    height: 20%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(209, 209, 209);
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.sidebar__button:hover{
    cursor: pointer;
}

.petCardGrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    transition: 0.3s;
}

.petCard{
    transition: 0.3s;
    list-style: none;
    height: 50vh;
    width: 20rem;
    box-shadow: 0 0 1rem #000000b4;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    transition: 0.3s;
}

.petCard:hover{
    box-shadow: 0 0 1.5rem #000000b4;
    cursor: pointer;
}

.petCard > a{
    text-decoration: none;
    color: black;
}

.petCard__imageSection{
    height: 65%;
}

.petCard__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.petCard__textSection{
    height: 33%;
    width: 90%;
    padding-top: 10px;
    margin: auto;
}

.petCard__title{
    text-align: center;
}

.petCard__attributes{
    width: fit-content;
    margin: auto;
}

.petCard__attributes > li{
    padding: 2px;
}

.profile{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
}

.profile__images{
    grid-column: span 3;
    width: 100%;
    height: 60vh;
    display: flex;
}

.profile__big-images{
    position: relative;
    width: 85%;
}

.profile__figure{
    width: 100%;
    height: 100%;
    display: none;
}

.profile__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile__button-right, .profile__button-left{
    position: absolute;
    top: 50%;
    z-index: 1;
    width: 3rem;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 5px;
    border: none;
}

.profile__button-right:hover, .profile__button-left:hover{
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.profile__button-left{
    left: 0;
}

.profile__button-right{
    right: 0;
}

.profile__images-column{
    width: 15%;
    gap: 0.5rem;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 18%;
    overflow-y: scroll;
}

.profile__images-column{
    cursor: pointer;
}

.profile__column-figure{
    width: 100%;
    height: 100%;
}

.profile__column-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile__info{
    grid-column: span 2;
    height: fit-content;
}

.profile__title{
    text-align: center;
    font-size: 150%;
}

.profile__description{
    margin-top: 1rem;
}

.auth{
    width: 30vw;
    height: fit-content;
    margin: auto;
    box-shadow: 0 0 1.5rem #000000b4;
    border-radius: 10px;
    margin-top: 5rem;
}

.auth__figure{
    width: 25%;
    height: auto;
    margin: auto;
}

.auth__img{
    width: 100%;
    margin-top: 1rem;
}

.auth__form{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.auth__input-section{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

.auth__text-input{
    border-radius: 10px;
    padding: 0.3rem 0.5rem;
    font-size: 110%;
}

.auth__button{
    background-color: var(--blue);
    color: white;
    width: fit-content;
    margin: auto;
    padding: 1rem 2rem;
    border-radius: 25px;
    outline: none;
    border: none;
    font-size: 120%;
}

.auth__button:hover{
    box-shadow: 0 0 1rem black;
    cursor: pointer;
}

.auth__text-button{
    width: fit-content;
    margin: auto;
    margin-top: 0.5rem;
    color: black;
}


.sep-bar{
    width: 100%;
    height: 7px;
    background: linear-gradient(90deg, rgb(84, 52, 180) 0%, rgb(35, 8, 134) 100%);
}

.bottom-radius{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.homepage__banner{
    margin: auto;
    width: 100%;
    height: 50vh;
    background-color: var(--blue);
    border-radius: 10px;
    position: relative;
}

.homepage__pet-figure{
    margin: auto;
    height: 100%;
    transition: 1s;
    padding: 1rem;
}

.homepage__pet-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.homepage__banner-title{
    position: absolute;
    font-size: 300%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.6);
    padding: 1rem;
    border-radius: 10px;
}

.homepage__animals{
    margin-top: 1rem;
    padding: 1rem 0;
    background-color: var(--blue);
    border-radius: 35px;
}

.homepage__animals-title{
    width: fit-content;
    margin: auto;
    color: white;
    text-decoration: underline white;
}

.homepage__animals-title > a{
    width: fit-content;
    margin: auto;
    color: white;
    text-decoration: underline white;
}

.homepage__animal-list{
    margin: auto;
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    justify-content: space-evenly;
    height: 50%;
}

.homepage__animal{
    list-style: none;
}

.homepage__animal > a{
    color: white;
}

.homepage__main{
    height: 65vh;
    width: 100%;
    display: flex;
    gap: 2rem;
    padding: 2rem 0;
}

.homepage__create-account, .homepage__upload-pet{
    padding: 2.5rem;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 0 2rem black;
    position: relative;
}

.homepage__create-account{
    height: 100%;
    color: var(--blue);
}

.homepage__upload-pet{
    height: 100%;
    background-color: var(--blue);
    color: white;
}

.homepage__title{
    text-align: center;
    font-size: 230%;
    height: 40%;
}

.homepage__text{
    font-size: 150%;
    height: 40%;
    text-align: center;
    margin-bottom: 1rem;
}

.homepage__button{
    background-color: var(--blue);
    color: white;
    border-radius: 30px;
    font-size: 130%;
    height: fit-content;
    padding: 1rem;
    outline: none;
    border: none;
    display: block;
    margin: auto;
}

.upload-button{
    background-color: white;
    color: var(--blue);
}

.homepage__button:hover{
    cursor: pointer;
    box-shadow: 0 0 1rem var(--blue);
}

.upload-button:hover{
    box-shadow: 0 0 1rem white;
}

.pet{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
}

.pet__images{
    grid-column: span 3;
    width: 100%;
    height: 60vh;
    display: flex;
}

.pet__big-images{
    position: relative;
    width: 85%;
}

.pet__figure{
    width: 100%;
    height: 100%;
    display: none;
}

.pet__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pet__button-right, .pet__button-left{
    position: absolute;
    top: 50%;
    z-index: 1;
    width: 3rem;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 5px;
    border: none;
}

.pet__button-right:hover, .pet__button-left:hover{
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.pet__button-left{
    left: 0;
}

.pet__button-right{
    right: 0;
}

.pet__images-column{
    width: 15%;
    gap: 0.5rem;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 18%;
    overflow-y: scroll;
}

.pet__images-column{
    cursor: pointer;
}

.pet__column-figure{
    width: 100%;
    height: 100%;
}

.pet__column-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pet__info{
    grid-column: span 2;
    width: 100%;
}

.pet__info-title{
    font-size: 150%;
}

.pet__info-list{
    margin-top: 1rem;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;
    margin: 0.5rem auto;
}

.pet__important{
    margin: 0.5rem auto;
}

.pet__description{
    margin: 0.5rem auto;
}

.create{
    height: fit-content;
    width: 70vw;
    padding: 2rem;
    box-shadow: 0 0 2rem black;
    margin: auto;
    border-radius: 10px;
    position: relative;
}

.create > h2{
    text-align: center;
    font-size: 200%;
}

.create__form{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr 1.5fr 1.5fr;
}

.create__article{
    height: 40%;
}

.create__button{
    height: 20%;
}

.create__input{
    margin: auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.create__input > label{
    font-size: 150%;
    margin-left: 1rem;
}

.create__input-text{
    padding: 0.5rem 1rem;
    border-radius: 30px;
    font-size: 150%;
}

.big-input-sect{
    grid-column: span 2;
    width: 95%;
    height: 90%;
}

.create__big-input{
    width: 100%;
    height: 100%;
}

.create__images-art{
    margin: auto;
    margin-top: 1rem;

}

.create__images{
    margin: 1rem 0;
    border-radius: 10px;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 1px;
    height: 100%;
    gap: 0.5rem;
}

.create__button{
    margin: auto;
    display: block;
}

.create__submit-img{
    margin: 0.5rem auto;
    display: block;
    width: fit-content;
}

.create__images figure{
    width: 18%;
    height: 13rem;
}

.create__images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.create__submit{
    padding: 1rem 2rem;
    font-size: 150%;
    border-radius: 30px;
    background-color: var(--blue);
    color: white;
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: 1rem;
    max-height: 100%;
}

.create__submit:hover{
    cursor: pointer;
    box-shadow: 0 0 1rem black;
}

.profile__create{
    width: 50vw;
}

.profile__create .create__form{
    grid-template-rows: 1fr 1.5fr;
}

.close-button{
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 2rem;
    width: 2rem;
}

.close-button:hover{
    cursor: pointer;
}

.close-button svg{
    width: 100%;
    height: 100%;
}

.back-button{
    position: absolute;
    left: 1rem;
    top: 1rem;
    height: 2rem;
    width: 2rem;
}

.back-button:hover{
    cursor: pointer;
}

.back-button svg{
    width: 100%;
    height: 100%;
}

.create__saved{
    background-color: rgb(53, 255, 53);
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    position: fixed;
    top: 20vh;
    left: 50%;
    transform: translatex(-50%);
    z-index: 1;
    display: flex;
    gap: 1rem;
}

.create__close-button{
    position: relative;
    top: 0;
    right: 0;
}

.center{
    margin: auto;
    display: block;
    text-decoration: none;
}

.review__text{
    width: 100%;
    margin: 1rem 0;
}

.wide{
    width: 100%;
    grid-column: span 5;
}

.overlay{
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: rgba(0, 0, 0, 0.468);
}

.reviews{
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}

.review{
    width: 15rem;
}

.confirm{
    display: none;
    background-color: var(--blue);
    box-shadow: 0 0 1rem black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30vh;
    z-index: 2;
    width: 50vw;
    padding: 1rem 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}

.confirm__message{
    width: 80%;
    padding: 1rem 1rem;
    border-radius: 30px;
    font-size: 150%;
}

.confirm__buttons{
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}

.confirm__button{
    padding:1rem 2rem;
    border-radius: 30px;
    background-color: white;
    outline: none;
    border: none;
    font-size: 150%;
    color: var(--blue);
    text-decoration: none;
}

.confirm__no{
    background-color: var(--blue);
    box-shadow: 0 0 1rem black;
    color: white;
}

.confirm__button:hover{
    cursor: pointer;
    box-shadow: 0 0 2rem black;
}

.confirm h1{
    margin: auto;
    width: fit-content;
    color: white;
}

.messages{
    width: 70vw;
    height: fit-content;    
    box-shadow: 0 0 2rem black;
    margin: auto;
    border-radius: 10px;
}

.messages__title{
    background-color: var(--blue);
    padding: 1rem;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.messages__list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.messages__message{
    display: grid;
    grid-template-columns: 20% 55% 20%;
    gap: 2.5%;
}

.messages__button{
    background-color: blue;
    color: white;
    outline: none;
    border: none;
    padding: 1rem 0;
    font-size: 130%;
    border-radius: 30px;
    text-align: center;
}

.accepted{
    background-color: green;
}

h3{
    color: var(--blue);
}

.messages p{
    color: var(--blue);
}

.messages__button:hover{
    cursor: pointer;
    box-shadow: 0 0 1rem black;
}

.review__button{
    width: fit-content;
    margin: auto;
    text-decoration: none;
}

.button__wrapper{
    width: fit-content;
    display: block;
    margin: auto;
}

@media(max-width: 1200px){
    .create__images figure{
        height: 8rem;
    }

    .create{
        width: 80vw;
    }
}

@media(max-width:1000px){
    .messages{
        width: 100%;
    }

    .main{
        flex-direction: column;
    }

    .pet{
        display: flex;
        flex-direction: column;
    }

    .sidebar{
        height: 25vh;
        width: 100vw;
    }

    .sidebar__filters{
        display: flex;
        padding: 0 2rem;
        gap: 2rem;
    }

    .sidebar__list{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem
    }

    .sidebar__button{
        display: none;
    }

    .sidebar__button svg{
        transform: rotate(90deg);
    }

    .homepage__title{
        font-size: 180%;
    }

    .homepage__banner-title{
        font-size: 200%;
    }

    .homepage__text{
        font-size: 120%;
    }
}

@media(max-width: 800px){
    .icon{
        width: 2rem;
        height: 2rem;
    }

    .header__navbar{
        gap: 2rem;
        height: fit-content;
        padding: 1rem 2rem 1rem 1rem;
    }

    .messages__button{
        width: fit-content;
        padding: 1rem 1rem;
        font-size: 120%;
    }

    .confirm{
        width: 80vw;
    }

    .pet__images{
        flex-direction: column-reverse;
        height: fit-content;
    }

    .pet__big-images{
        width: 100%;
    }

    .pet__images-column{
        width: 100%;
        grid-template-columns: repeat(20,18%) ;
        grid-template-rows: 100%;
    }
    
    .homepage__banner{
        height: 30vh;
    }

    .homepage__banner-title{
        width: fit-content;
    }

    .homepage__title{
        margin-bottom: 1rem;
    }

    .homepage__main{
        flex-direction: column;
        height: auto;
    }

    .homepage__animals{
        height: fit-content;
        padding: 1rem ;
        width: 90%;
        margin: auto;
        margin-top: 1rem;
    }

    .homepage__animal-list{
        display: none;
    }
    
    .create__form{
        display: flex;
        flex-direction: column;
    }

    .create__input{
        width: 90%;
    }

    /* .create__images{
        height: 7rem;
        width: 8rem;
    } */

    .create__images >figure{
        height: 100%;
        width: 100%;
    }
}

@media(max-width:600px){
    .messages__message{
        grid-template-columns: 15% 45% 40%;
    }

    .messages__button{
        font-size: 100%;
    }

    .confirm h1{
        font-size: 120%;
    }

    .sidebar{
        display: none;
        width: 90%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        margin: 0;
        height: fit-content;
        padding: 0 0 1rem 0;
        border-radius: 10px;
    }

    .sidebar__header{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .sidebar__filters{
        flex-direction: column;
        gap: 0.5rem;
    }

    .sidebar__list{
        flex-direction: column;
    }

    .filter__button{
        display: block;
        position: sticky;
        z-index: 1;
        top: 2rem;
        left: 0.5rem;
    }

    #closeSidebar{
        display: block;
    }
}

@media(max-width:500px){
    .confirm__button{
        font-size: 110%;
    }

    .homepage__banner-title{
        font-size: 150%;
    }

    .homepage__main{
        margin-top:1rem ;
        padding: 0;
    }

    .homepage__animals{
        width: 100%;
    }
}

@media(max-width: 400px){
    .header__navbar{
        gap: 1rem;
        padding: 1rem;
    }

    .pet__info{
        padding: 0 2rem;
    }

    .pet__info-list{
        grid-template-columns: 1fr;
    }

    .pet__images-column{
        height: 4rem;
        grid-template-columns: repeat(20,25%) ;
    }

    .confirm{
        width: 95vw;
    }

    .confirm__message{
        width: 95%;
    }

    .create__saved h1{
        font-size: 130%;
    }   

    .petCard{
        width: 95vw;
    }

    .petCard li{
        font-size: 100%;
    }

    .content{
        padding: 0;
    }

    .homepage__banner{
        height: 25vh;
    }

    .homepage__upload-pet, .homepage__create-account{
        padding: 3rem 1rem;
    }

    .create{
        width: 100%;
        padding: 1rem;
    }

    .close-button{
        height: 1.5rem;
        width: 1.5rem;
    }
}   